[defaults]
host_key_checking = False
stdout_callback = yaml
gathering = explicit
inventory = inventory/hosts.yml
remote_user = vagrant
timeout = 30
forks = 10

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, toml

[connection]
pipelining = True

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no